/* original code by Kevin David https://codepen.io/kevin_David_k/pen/eYNeQVY */

.candle2__stick {
  position: absolute;
  left: 50%;
  top: 0%;
  width: 3px;
  height: 15px;
  background: #673C63;
  border-radius: 8px;
  transform: translate(-50%, -100%);
}

.candle2__stick {
  height: 12px;
  transform-origin: bottom center;
}

.candle__smoke-one {
  width: 30px;
  height: 3px;
  background: rgb(255, 255, 255);
  transform:translate(-200%, 450%);
  animation: move-left 5s infinite linear;
}


.candle2 {
  width: 42px;
  height: 60px;
  background: #e1dbc7;
  border-bottom: 0px;
  border-radius: 3px;
  transform: translate(60%, -15%);
  transform-origin: bottom center;
  animation: shake-left 5s infinite linear;
}


.candle2__fire {
  position: relative;
  left: -2px;
  display: block;
  width: 16px;
  height: 20px;
  background-color: red;
  border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
  background: #FF9800;
  transform: translate(-50%, -50%);
  animation: dance-fire 5s infinite linear;
}


@keyframes move-left {

  0%,
  32%,
  100% {
    width: 0px;
    left: 40%;
  }

  33% {
    width: 30px;
    left: 30%;
  }

  38% {
    width: 0px;
    left: 20%;
  }
}

@keyframes shake-left {
  0% {
    left: 20%;
    transform: scale(1, 1) translate(60%, -15%);
  }

  32% {
    transform: scale(1, 0.1) translate(60%, -15%);
  }

  100% {
    transform: scale(1, 0.1) translate(60%, -15%);
  }
}

@keyframes dance-fire {
  0% {
    transform: translateY(-220%);
  }

  90%,
  0%,
  7%,
  15%,
  23%,
  31%,
  39%,
  47%,
  55% {
    width: 16px;
    height: 20px;
    background: #FFC107;
  }

  94%,
  3%,
  11%,
  19%,
  27%,
  35%,
  43%,
  51%,
  58% {
    width: 16px;
    height: 20px;
    background: #FF9800;
  }
 

  32% {
    transform: translateY(80%);
    opacity: 1;
  }

  34% {
    opacity: 0;
  }

  100% {
    transform: translateY(80%);
    opacity: 0;

  }
}