* {
    font-family: "neuzeit-grotesk";
    box-sizing: border-box;
}

#container {
    height: auto;
    width: 95vw;
    margin: auto;
    margin-top: 25vh;
    margin-bottom: 25vh;
    display: grid;
    grid-template-columns: repeat(1, 500px);
    gap: 100px;
    justify-content: center;
}

.section {
    width: 500px;
    height: 200px;
    border: 3px solid rgb(36, 36, 36);
    /* Center text */
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 15vh;
    background-repeat: no-repeat;
    background-position-y: 30%;
    background-size: cover;
    font-size: 54px;
    position: relative;
}

p {
    font-size: 54px;
}

#s-1 {
    background-position-y: top;
}

#l-1 {
    position: fixed;
    top: 0;
    left: 0;
    pointer-events: none;
    visibility: hidden;
}

#s-2 {
    background-image: url('https://64.media.tumblr.com/2573baf24d8abd0e12f7cdb97e186bd1/f714b905f74306d9-5a/s400x600/fe6306cef872725f0bae6cb82774d3cefdefdc80.gifv');
}

#l-2 {
    background-color: rgb(255, 255, 255);
    position: relative;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    transform-origin: right;
    transition: all 0.5s ease-in-out;
}

#knob {
    width: 10px;
    height: 50px;
    position: relative;
    background-color: #D7DADE;
    top: 40%;
    left: 20px;
    box-shadow: 4px 4px rgba(0, 0, 0, 0.1);
}

.doorOpen {
    /*prespectiv creates the door open effect*/
    transform: perspective(1200px) translateZ(0px) translateX(0px) translateY(0px) rotateY(-85deg);
}

#s-3 {
    font-size: 54px;
}

#s-4 {
    background-color: rgb(70 87 248);
}

#a-4 {
    position: relative;
    width: 150px;
    height: 150px;
    top: 50px;
}

#l-4 {
    position: fixed;
    top: 0;
    left: 0;
    pointer-events: none;
    visibility: hidden;
    width: 300px;
    height: 300px;
    background-color: rgb(255, 255, 255);
    mix-blend-mode: soft-light;
    border-radius: 200px;
}

.show {
    background-image: url('https://media1.tenor.com/m/XJeGm3-AzsYAAAAd/nqrse-utaite.gif');
}

#s-5 {
    border: none;
}

#a-5 {
    position: relative;
    width: 100px;
    height: 100px;
    left: 50px;
    top: 20px;
}

#l-5 {
    position: fixed;
    top: 0;
    left: 0;
    pointer-events: none;
    visibility: hidden;
    width: 160px;
    height: 180px;
    background-image: url('l-5.png');
    background-repeat: no-repeat;
    background-size: cover;
}

#i-5 {
    width: 20px;
    height: 20px;
    position: absolute;
    left: 50%;
    background-image: url('a-5.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
}

#s-6 {
    position: relative;
}

#bg-6 {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url("https://media1.tenor.com/m/_ew-gviqjE8AAAAC/vaporwave-trippy.gif");
    background-position-y: 120%;
    animation: lightsdown 5s infinite linear;
}

@keyframes lightsdown {

    0%,
    34% {
        opacity: 0;
    }

    38%,
    100% {
        opacity: 1;
    }
}

#b-7,
#b-8,
#b-9,
#b-10,
#b-12,
#b-13,
#b-14,
#b-15,
#b-16,
#b-17,
#b-18 {
    background-color: #d8d8d8;
    border: 4px solid rgb(81, 81, 81);
    border-radius: 3px;
    font-size: 20px;
    padding: 8px;
    cursor: pointer;
    position: absolute;
    top: 220px;
}

#s-9 {
    border: none;
}

#s-11 {
    background-position-y: center;

}

#p-11 {
    font-size: 28px;
}

#menuPanel {
    display: none;
    position: fixed;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    width: 300px;
    height: 400px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}


#l-11 {
    padding: 12px;
    cursor: pointer;
    width: 95%;
    margin: auto;
    font-size: 18px;
}

#l-11:hover {
    background-color: #f0f0f0;
}

#s-12 {
    background-image: url("https://media1.tenor.com/m/2H2fBP1-BJMAAAAd/pixel.gif");
    border: none;
}

#l-12 {
    display: flex;
    grid-template-columns: repeat(5, 100px);
    flex-wrap: wrap;
    width: 500px;
    height: 200px;
    position: relative;
    box-sizing: border-box;
}

.box {
    width: 100px;
    height: 100px;
    box-sizing: border-box;
    background-color: #ffffff;
}

.invisible {
    visibility: hidden;
}

.line {
    position: absolute;
    height: 2px;
    width: 250px;
    background-color: rgb(36, 36, 36);
    transition: transform 0.5s ease;
}

#line1 {
    left: -200px;
    top: 100px;
}

#line2 {
    left: 450px;
    top: 100px;
}

#s-13 {
    border: none;
    background-position-y: center;
}


.slideshow {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-repeat: no-repeat;
    background-position-y: 30%;
    background-size: cover;
}

.slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    /* height: 100%;  */
    object-fit: cover;
    object-position: bottom;
}


#s-15 .slide {
    display: none;
}


#s-15 .crt {
    display: block;
    width: 100%;
    height: 100%;
    animation-name: slide;
    animation-duration: 0.3s;
    animation-timing-function: ease-in-out;
    animation-delay: 0.01s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-fill-mode: both;
    animation-play-state: running;
    background-color: black;
}

@keyframes flicker {
    0% {
        opacity: 0.27861;
    }

    5% {
        opacity: 0.34769;
    }

    10% {
        opacity: 0.23604;
    }

    15% {
        opacity: 0.90626;
    }

    20% {
        opacity: 0.18128;
    }

    25% {
        opacity: 0.83891;
    }

    30% {
        opacity: 0.65583;
    }

    35% {
        opacity: 0.67807;
    }

    40% {
        opacity: 0.26559;
    }

    45% {
        opacity: 0.84693;
    }

    50% {
        opacity: 0.96019;
    }

    55% {
        opacity: 0.08594;
    }

    60% {
        opacity: 0.20313;
    }

    65% {
        opacity: 0.71988;
    }

    70% {
        opacity: 0.53455;
    }

    75% {
        opacity: 0.37288;
    }

    80% {
        opacity: 0.71428;
    }

    85% {
        opacity: 0.70419;
    }

    90% {
        opacity: 0.7003;
    }

    95% {
        opacity: 0.36108;
    }

    100% {
        opacity: 0.24387;
    }
}

#s-17 {
    position: relative;
    border: none;
}


#s-17 .slideshow {
    position: relative;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position-y: 30%;
    background-size: cover;

}

#s-17 .slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: bottom;
    /* display: flex;
    z-index: 1; */
}

#s-17 .slide.animate {
    animation: slideAnimation 0.3s ease-in-out forwards;
}

@keyframes slideAnimation {
    0% {
        transform: translate(0, 0);
    }

    50% {
        transform: translate(20px, 20px);
    }

    100% {
        transform: translate(0, 0);
    }
}

#s-18 {
    background-position-y: 80%;
}

#s-18 .rectangle-wrapper {
    display: flex;

}

.rectangle {
    width: 20px;
    height: 100px;
    background-color: rgb(255, 255, 255);
    border: 2px solid rgb(36, 36, 36);
    margin-right: 10px;
}

#s-19 {
    background-image: url("https://media1.tenor.com/m/2H2fBP1-BJMAAAAd/pixel.gif");
    border: none;
}

#l-19 {
    display: flex;
    grid-template-columns: repeat(10, 50px);
    flex-wrap: wrap;
    width: 500px;
    height: 200px;
    position: relative;
    box-sizing: border-box;
    outline: 3px solid rgb(36, 36, 36);
}

#l-19 .box {
    width: 50px;
    height: 50px;
    box-sizing: border-box;
    background-color: #ffffff;
}

#p-19 {
    position: absolute;
    pointer-events: none;
    font-size: 28px;
}

#wrapper-20 {
    width: fit-content;
    height: 300vh;
    border: none;
}

#s-20 {
    position: sticky;
    top: 90vh;
    background-size: contain;
    margin-bottom: 0;
}

#p-20 {
    position: absolute;
    top: -80%;
    margin-bottom: 10px;
    font-size: 53px;
}
